[
  {
    name: "weather-api",
    description: "Weather API provided by OpenWeatherMap",
    version: "v1",
  },
  {
    name: "eventful-api",
    description: "EventFul API provided by http://api.eventful.com/",
    version: "v1",
  }
]